body {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  margin: 0;
  background: #fff;
  color: #000;
}

.header {
  padding: 15px;
}

h2 {
  font-size: 18px;
  margin-bottom: 10px;
}

.switcher {
  position: relative;
  background: #f1f1f1;
  border-radius: 8px;
  display: flex;
  overflow: hidden;
  height: 40px;
}

.switcher button {
  flex: 1;
  background: none;
  border: none;
  z-index: 2;
  font-size: 15px;
  color: #888;
  transition: 0.2s;
}

.switcher button.active {
  color: #000;
  font-weight: 500;
}

.switcher .slider {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0%;
  width: 50%;
  background: #d0d0d0;
  border-radius: 8px;
  transition: left 0.3s ease;
  z-index: 1;
}

.page {
  display: none;
  padding: 20px;
}

.page.active {
  display: block;
}

img {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 20px;
}

.btn-group {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.blue-button {
  background: #007aff;
  color: white;
  padding: 14px;
  border: none;
  border-radius: 10px;
  font-size: 16px;
}

.outline-button {
  background: none;
  color: #007aff;
  padding: 14px;
  border: 2px solid #007aff;
  border-radius: 10px;
  font-size: 16px;
}

.info-block {
  padding: 10px 0;
}

.label {
  font-size: 14px;
  color: #999;
  margin: 0 0 4px 0;
}

.value {
  font-size: 17px;
  color: #000;
  margin: 0;
}

/* Всплывающее окно (bottom sheet) */
.bottom-sheet {
  position: fixed;
  left: 0;
  right: 0;
  bottom: -100%;
  background: white;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  box-shadow: 0 -4px 10px rgba(0,0,0,0.15);
  transition: bottom 0.3s ease;
  z-index: 999;
}

.bottom-sheet.show {
  bottom: 0;
}

.sheet-content {
  padding: 20px;
  text-align: center;
}

.sheet-title {
  font-weight: bold;
  font-size: 18px;
  text-align: left;
}

.sheet-subtitle {
  font-size: 15px;
  color: #333;
  margin: 10px 0;
}

.qr-img {
  width: 200px;
  height: 200px;
  margin: 15px 0;
}

.sheet-subtext {
  font-size: 13px;
  color: #999;
  margin-top: 10px;
}

.sheet-code {
  font-size: 22px;
  font-weight: bold;
  color: #000;
}


.info-line {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
}

.info-line .value {
  flex: 1;
}

.copy-icon {
  width: 20px;
  height: 20px;
  margin-left: 12px;
  cursor: pointer;
  opacity: 0.6;
  transition: 0.2s;
}

.copy-icon:hover {
  opacity: 1;
}


.info-text {
  flex: 1;
}

.value {
  font-size: 17px;
  color: #000;
  margin: 0;
}


.top-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 12px 15px 0;
}

.top-bar h2 {
  font-size: 18px;
  font-weight: 500;
  margin: 0;
}

.back-arrow {
  position: absolute;
  left: 0;
  font-size: 20px;
  color: #000;
  padding: 5px 15px;
  cursor: pointer;
  line-height: 1;
}
